__pycache__/
*.py[cod]

.ipynb_checkpoints/

env/
.venv/
venv/
ENV/

datasets/*.csv
*.json
*.pt
*.ckpt
*.h5

runs/
logs/
outputs/
experimental_outputs/
feature_shift_results/
feature_shift_results_gemma2b/
simple_test_outputs_with_accuracy/
acts/
llm_weights/
checkpoints/
wandb/
*.log

.vscode/
.idea/
.DS_Store
Thumbs.db
